@using GoshenJimenez.MercadiaII.Web.Infrastructure.Data.Models;
@model GoshenJimenez.MercadiaII.Web.ViewModels.Users.IndexViewModel;
@{
    ViewData["Title"] = "Welcome to Mercadia";
}

<div class="container">
    <h2>Users</h2>
    <p>Here is a paged list of all the users</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (User user in Model.Users.Items)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.EmailAddress</td>
                        <td>@user.Gender</td>
                        <td>
                            <a href="#" onclick="confirmResetPassword()" title="Reset Password"><button type="button" class="btn"><i class="fas fa-key"></i></button></a>
                            <a href="~/home/update-profile?userId=@user.Id" title="Update Profile"><button type="button" class="btn"><i class="fas fa-pen-square"></i></button></a>
                            <a href="#" onclick="confirmActivateAccount()" title="Activate Account"><button type="button" class="btn"><i class="fas fa-unlock-alt"></i></button></a>
                            <a href="#" onclick="confirmDeleteUser()" title="Delete User"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.Users.CurrentPage" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/home/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val()));" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Users.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>